addict==2.2.1
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.1
facenet-pytorch==2.2.9
future==0.18.2
idna==2.9
imageio==2.6.1
importlib-metadata==1.6.0
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
kiwisolver==1.1.0
matplotlib==3.1.2
mmcv==0.5.1
more-itertools==8.2.0
networkx==2.4
numpy==1.18.1
opencv-contrib-python==4.1.2.30
opencv-python==4.2.0.34
packaging==20.3
pandas==0.25.3
parso==0.7.0
pickleshare==0.7.5
Pillow==8.3.2
pluggy==0.13.1
prompt-toolkit==3.0.5
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.6
pytest==5.4.2
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
scikit-image==0.16.2
scipy==1.4.1
six==1.13.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
zipp==3.1.0
torch==1.5.0+cu92
torchvision==0.6.0+cu92
-f https://download.pytorch.org/whl/torch_stable.html
